<%-include('partials/header')%>
<div class="container">
  <div id="button-div">
    <button class="btn btn-warning" id="start-game-button">START GAME!</button>
  </div>
</div>
<%-include('partials/footer')%>
